/* 미디어쿼리 조건 작성위치 */
@media screen and (max-width:1250px){
    /* =======================공통 선택자 + 1행 반응형디자인(tablet) */
    #wrap .container > * {padding:0 80px;}
    #wrap .container .main_title {font-size:3.13rem;}
    #wrap .container h2 {font-size:2.50rem;}
    #wrap .container .sponsor_btn {
        font-size:1.38rem;
        width:270px; padding:15px 0;
        display:flex; align-items:center; justify-content:center;
    }
    #wrap .container .sponsor_q_btn {font-size:1.25rem;}
    #wrap .container .sponsor_q_btn img:first-child {display:none;}
    /* =======================2행 반응형디자인(tablet) */
    #wrap .bg2 .contents .quiz_contents h2 {
        font-size:2.50rem;
        margin:0 0 56px 222px;
    }
    #wrap .bg2 .contents .quiz_contents form .answer_btn {
        width:300px;
    }
    #wrap .bg2 .contents .quiz_status {
        text-align:right;
    }
    #wrap .bg2 .contents .quiz_status img {width:316px;}
    /* =======================3행 반응형디자인(tablet) */
    #wrap .bg3 .contents h2 {
        font-size:2.50rem;
    }
    /* =======================4행 반응형디자인(tablet) */
    /* =======================6행 반응형디자인(tablet) */
    #wrap .bg4 .contents h2, 
    #wrap .bg6 .contents h2 {font-size:2.50rem;}
    #wrap .bg4 .contents h2+p,
    #wrap .bg6 .contents h2+p {margin:40px 0; font-size:1.38rem;}
    /* =======================5행 반응형디자인(tablet) */
    #wrap .bg5 .contents ul li .title h3 {
        font-size:2.69rem; font-weight:700; line-height:1.2;
    }
    #wrap .bg5 .contents ul li .title p {
        font-size:1.0rem;
    }
    #wrap .bg5 .contents ul li .content {
        height:auto; font-size:1.0rem;
    }
    /* =======================7행 반응형디자인(tablet) */
    #wrap .bg7 .contents h1 {font-size:3.13rem; line-height:1.3; letter-spacing:-0.02em;}
    #wrap .bg7 .contents p {font-size:1.38rem;}
    #wrap .bg7 .contents ul li .content {font-size:1.38rem;}
    /* =======================8행 반응형디자인(tablet) */
    #wrap .bg8 .contents .activity {flex-flow:column wrap;}
    #wrap .bg8 .contents .activity li {width:100%;}
    #wrap .bg8 .contents .activity li .text {
        width:100%; position: relative;
        bottom:0;
    }
    #wrap .bg8 .contents .activity li .list1,
    #wrap .bg8 .contents .activity li .list2 {height:auto; padding-top:189px;}
    #wrap .bg8 .contents .activity li:last-child {padding-top:189px;}
    #wrap .bg8 .contents .activity li .list1 .text h3,
    #wrap .bg8 .contents .activity li .list2 .text h3 {font-size:1.38rem; line-height:1.2; font-weight:700; margin-top:22px;}
    #wrap .bg8 .contents .activity li .text h3 {font-size:1.38rem; line-height:1.2; font-weight:700;}
    #wrap .bg8 .contents h2 {font-size:2.50rem; font-weight:500; line-height:1.2; letter-spacing:-0.01em;}
    #wrap .bg8 .contents .activity li .text h3 {font-size:1.38rem; line-height:1.2; font-weight:700; }
    #wrap .bg8 .contents .activity li .text p {font-size:1.0rem;}
    /* =======================9행 반응형디자인(tablet) */
    #wrap .bg9 .contents .present_list {
        flex-flow:row wrap;
    }
    #wrap .bg9 .contents .present_list li {width:calc((100% - 45px) / 2);}
    #wrap .bg9 .contents .present_list li:last-child {
        width:100%; margin-top:22px;
    }
    #wrap .bg9 .contents .present_list li .text p {
        font-size:1.0rem;
    }
    #wrap .bg9 .contents .title h2 {font-size:2.50rem; font-weight:500; line-height:1.2; }
    #wrap .bg9 .contents .benefit {
        font-size:1.0rem;
    }
    /* =======================10행 반응형디자인(tablet) */
    #wrap .bg10 .contents h3 {font-size:1.38rem;}
    #wrap .bg10 .contents li {line-height:1.7;}
}/* 1250 end */
@media screen and (max-width:900px){
        /* =======================2행 반응형디자인(769~900) */
        #wrap .bg2 .contents {
            flex-flow:column nowrap;
            align-items:center;
        }
        #wrap .bg2 .contents .quiz_contents {margin-bottom:50px;}
        #wrap .bg2 .contents .quiz_contents h2 {margin-left:0;}
        #wrap .bg4 .contents h2, 
        #wrap .bg6 .contents h2 {font-size:1.38rem;}
        #wrap .bg4 .contents h2+p,
        #wrap .bg6 .contents h2+p {font-weigh:400px; margin:22px 0; font-size:0.81rem;}
}/* 769~900 end */
@media screen and (max-width:768px){
    /* =======================공통 선택자 + 1행 반응형디자인(mobile) */
    #wrap .container > * {padding:0 15px;}
    #wrap .container h2 {font-size:1.38rem;}
    #wrap .bg1 .gradient .contents h1:nth-child(1) {width:40px;}
    #wrap .container .main_title {font-size:1.88rem;}
    #wrap .bg1 .gradient .contents > * {margin-bottom:50px;}
    #wrap .bg1 .gradient .contents .sponsor_q_btn {align-self:center;}
    /* =======================2행 반응형디자인(mobile) */
    /* =======================3행 반응형디자인(mobile) */
    #wrap .bg3 .contents h2 {font-size:1.38rem;}
    #wrap .bg3 {padding:70px;}
    #wrap .bg3 .contents iframe {height:300px;}
    /* =======================4행 반응형디자인(mobile) */
    /* =======================6행 반응형디자인(mobile) */
    #wrap .bg4,
    #wrap .bg6 {padding:70px 0;}
    #wrap .bg4 .contents h2, 
    #wrap .bg6 .contents h2 {font-size:1.38rem;}
    #wrap .bg4 .contents h2+p,
    #wrap .bg6 .contents h2+p {margin:22px 0; font-size:0.81rem;}
    /* =======================5행 반응형디자인(mobile) */
    #wrap .bg5 .contents ul {flex-flow:column nowrap;}
    #wrap .bg5 .contents ul li {width:100%; margin:0 0 20px;}
    #wrap .bg5 .contents ul li .title {
        font-size:1.38rem; height:auto; padding:48px 0;
    }
    #wrap .bg5 .contents ul li .title p {
        font-size:1.0rem;
    }
    #wrap .bg5 .contents ul li .content {
        font-size:0.81rem;
    }
    #wrap .bg5 .contents ul li .title h3 {padding-top:0;}
    /* =======================7행 반응형디자인(mobile) */
    ##wrap .bg7 .contents {padding:70px 0;}
    #wrap .bg7 .contents h1 {font-size:1.88rem; font-weight:700; line-height:1.3; letter-spacing:-0.02em;}
    #wrap .bg7 .contents p {font-size:0.81rem; line-height:1.7; letter-spacing:-0.02em;}
    #wrap .bg7 .contents p:first-of-type {margin:22px 0;}
    #wrap .bg7 .contents ul li .content {font-size:0.81rem; line-height:1.7; letter-spacing:-0.02em;}
    /* =======================8행 반응형디자인(mobile) */
    #wrap .bg8 .contents {padding-top:70px; padding-bottom:70px;}
    #wrap .bg8 .contents .activity li:last-child {padding-top:84px;}
    #wrap .bg8 .contents h2 {font-size:1.38rem;}
    #wrap .bg8 .contents .activity li .text p {font-size:0.81rem; line-height:1.7; letter-spacing:-0.02em;}
    /* =======================9행 반응형디자인(mobile) */
    #wrap .bg9 .contents .title {
        flex-flow:column wrap;
        align-items:flex-start; 
    }
    #wrap .bg9 .contents .title .sponsor_btn {
        margin-top:22px;
    }
    #wrap .bg9 .contents .present_list li  {
        width:100%; margin-top:22px;
    }
    #wrap .bg9 .contents .present_list li .text p {
        font-size:1.0rem;
    }
    #wrap .bg9 .contents .title h2 {font-size:1.38rem; font-weight:500; }
    #wrap .bg9 .contents .benefit {
        font-size:1.0rem; float:none;
        margin:69px auto 0; display:block; width:max-content;
    }
    /* =======================10행 반응형디자인(tablet) */
    #wrap .bg10 .contents h3 {font-size:1.38rem;}
    #wrap .bg10 .contents ul {font-size:1.0rem;}
    /* =======================10행 반응형디자인(mobile) */
    #wrap .bg10 .contents h3 {font-size:1.38rem; line-height:1.2;}
    #wrap .bg10 .contents li {font-size:1.0rem; line-height:1.7;}
}/* 320~768 end */