#wrap {}
#wrap header{}
#wrap header h1{}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {}
#wrap header nav ul {}
#wrap header nav ul li {
    font-size: 1.13rem; /*18px*/
    font-weight: 600; /* semibold */
}
#wrap header nav ul li a {}
#wrap header .right_menu {}
#wrap header .right_menu a {}
#wrap header .right_menu ul {}
#wrap header .right_menu ul li {}
#wrap header .right_menu ul li a {}
#wrap header .right_menu ul li a img {}
/* ==========메인=================== */
#wrap main{}
#wrap main .path {
    background-color:#f9f9f9;
    padding:11.5px 80px 11.5px 0;
    text-align:right;
}
#wrap main .path a {
    font-size: 0.88rem;
}
#wrap main .path img {
    margin:0 12px;
}
#wrap main .path em {
    font-size: 0.88rem;
    font-weight: 600;
}
#wrap main h1 {
    margin:44px 0 49px 0;
    text-align:center;
    font-size:3.13rem; font-weight: 700;
}
#wrap main > p {
    text-align: center;
    font-size:1.13rem;
    margin-bottom:47px;
}
#wrap main .bg {
    background-color:#f9f9f9;
}
#wrap main .bg .corporate {
    background-color:aqua;
    width:1140px; margin: 0 auto;
    overflow:hidden;
}
#wrap main .bg .corporate li {
    background-color:#fff;
    width:250px; height:250px;
    border:1px solid #888;
    background-repeat:no-repeat;
    background-position:80% 85%;
    background-size:100px auto;
    background-image:url(../images/info/cr01.png);/*공통*/ 
    padding:30px;
    float:left; 
    margin-right:42.5px;
}
#wrap main .bg .corporate li:nth-child(1) {}
#wrap main .bg .corporate li:nth-child(2) {
    background-image:url(../images/info/cr02.png);
}
#wrap main .bg .corporate li:nth-child(3) {
    background-image:url(../images/info/cr03.png);
    padding-top:56px;
}
#wrap main .bg .corporate li:nth-child(4) {margin:0;}
/* #wrap main .bg .corporate li:nth-child(1) {
    background-image:url(../images/info/cr01.png);
    background-repeat:no-repeat;
    background-position:80% 80%;
}
#wrap main .bg .corporate li:nth-child(2) {
    background-image:url(../images/info/cr02.png);
    background-repeat:no-repeat;
    background-size:100px auto;
    background-position:80% 80%;
}
#wrap main .bg .corporate li:nth-child(3) {
    background-image:url(../images/info/cr03.png);
    background-repeat:no-repeat;
    background-position:80% 80%;
}
#wrap main .bg .corporate li:nth-child(4) {
    background:lime url(../images/info/cr01.png) no-repeat 80% 85%;
} */
#wrap main .bg .corporate li h2 {
    letter-spacing:-0.02;
    font-size:1.38rem;
    font-weight:600;
    margin-bottom: 20px;
}
#wrap main .bg .corporate li p {
    font-size:1.13rem;
    line-height:1.5;
}
#wrap footer {}