body {}
main {
    margin:0 auto;
    width:782px;
}
main .title {overflow:hidden;}
main .title h1 {
    font-size:1.25rem; font-weight:700;
    float:left; 
}
main .title p{
    float:right; 
}
main .pay {width:782px;background-color:#F2F2F2; margin:19px 0;}
main .pay thead {border:2px solid #000; border-left:0; border-right:0;}
main .pay thead tr {}
main .pay thead tr th {
    font-weight:500; 
    width:150px;
}
main .pay thead tr th,
main .pay thead tr > * {
    text-align:center; padding:16px 0;
}
main .pay thead tr th:first-child {
    font-size:1.06rem; font-weight:700;
}
main .pay tbody {}
main .pay tbody tr {}
main .pay tbody tr:nth-child(4) {background-color:#A8D18D;}
main .pay tbody tr th {
    font-size:1.06rem; font-weight:700; 
}
main .pay tbody tr td {
    font-weight:500; 
}
main > p {
    text-align:right;
}