/* 통합css */
/* 일반 웹사이트들에선 header, footer 관련 css가 통합적으로 작성된 위치로 사용함. main에 대한 부분은 개별css로 관리함 */
.btn1 {
    background:#3498db; color:#fff;
    border-radius:5px; font-size:1.2rem;
    padding:15px 30px;
    /* 변경되는 효과(hover)를 서서히 변경되는 애니메이션 효과로 주고싶을 때*/
    transition:background 0.3s, font-size 0.5s 1s;
}
.btn1:hover{background: #7a61eb; font-size:0.8rem;}
.btn2 {
    background:#f269f7; color:#000;
    border-radius:5px; font-size:1.5rem;
    border:2px solid #000;
    padding:15px 30px;
    transition:background 0.5s;
}
.btn2:hover {background:#eee; font-weight:600;}
.btn3{
    width:200px; height:100px; color:#fff;
    font-weight:700; font-size:1.2rem;
    border-radius:10px;
    background:url(https://i.pinimg.com/236x/54/9c/7b/549c7b0a43fcf85b1b629fbe785bbb64.jpg);
    background-size:100% auto;
    background-position:40% 40%;
    transition:background 0.5s, background-position 1.5s, background-size 1s;
}
.btn3:hover{
    background:url(https://i.pinimg.com/236x/2b/21/84/2b2184a00674353707dc1513e2fa6929.jpg);
    background-position:40% 100%;
    background-size:120% auto;
}
.btn4{
    width:400px; height:600px; color:#fff;
    font-weight:700; font-size:1.4rem;
    border-radius:5px;
    background:url(https://i.pinimg.com/236x/6c/a3/58/6ca358e11d1415ceb4846f94b039751e.jpg);
    background-size:100% auto;
    background-position:50% 50%;
    background-repeat:no-repeat;
    transition:backround 0.7s, background-postion 1.3s, background-size 1.2s;
}
.btn4:hover{
    width:400px; height:600px;
    background:url(https://i.pinimg.com/236x/17/1d/b9/171db91550385b7934ec2438298443ef.jpg);
    background-position:50% 100%;
    border-radius:10px;
    background-size:120% auto;
    background-repeat:no-repeat;
    font-weight:700; font-size:1.8rem;
}
/* 메뉴 스타일 */
.gnb {max-width:600px; display:flex;}
.gnb a {/* 공통a */display:block; width:100%; line-height:60px;}
.gnb >li {
    width:calc(100% / 2); text-align:center;
    position: relative;
}
.gnb >li > a {
    background-color:#222; color:#fff;
}
.gnb >li > .sub {
    position:absolute; width:100%;
    left:0; top:100%;
    height:0; overflow:hidden;
    transition:height 0.3s;
}
.gnb >li > .sub li {border-bottom:1px solid #ddd;}
.gnb >li > .sub li a {
    background-color:#eee; color:#222;
}
/* hover - menu */
.gnb > li:hover .sub {
    height:180px;
}
.gnb > li .sub a:hover {background:#fff;}
.bnr {
    height:500px; 
    background-image: url(https://i.pinimg.com/474x/8b/63/a9/8b63a901ad171ad1766bce41a8e769b5.jpg);
    background-size:cover;
    background-position:center;
}
.gnb2 {max-width:650px; display:flex;}
.gnb2 a {display:block; width:100%; line-height:60px;}
.gnb2 > li {
    width:calc(100% / 2); text-align:center;
    position: relative;
}
.gnb2 > li > a {
    background-color:#5a0270; color:#fff;
    padding:5px;;
    font-weight:700;
    border:1px solid #fff;
}
.gnb2 > li > .sub {
    position:absolute; width:100%;
    left:0; top:100%;
    height:0; overflow:hidden;
    transition:height 0.3s;
}
.gnb2 > li:hover .sub {
    height:200px;
} 
.gnb2 > li .sub a:hover {background:#eee;} 
.gnb2 > li > .sub li {border-bottom:1px solid #ddd;}
.gnb2 > li > .sub li a { background-color:#9c7ea3; color:#000; font-weight:700;}
.bnr {
    background-image:url(https://i.pinimg.com/236x/54/9c/7b/549c7b0a43fcf85b1b629fbe785bbb64.jpg);
    background-size:cover;
    background-position:center;
    height:500px;
}
/* 버튼애니메이션(Gradient 활용 */
.btn5 {
    width:300px; height:150px; border-radius:10px;
    background:linear-gradient(90deg, #3498db, #fff, #3498db);
    background-size:400%;
    background-position:0 0;/* 왼쪽상단 */
    transition:background-position 1s;
}
.btn5:hover {
    background-position:100% 0;
}
.btn6 {
    width:500px; height:250px; border-radius:10px;
    background:linear-gradient(90deg, #7a61eb, #f269f7,#7a61eb);
    background-size:400%;
    background-position:0 0;
    transition:background-position 1.2s;
    font-weight:700; font-size:1.4rem;
}
.btn6:hover{
    background-position:120% 0%;
}
/* 글자 애니메이션 + Gradient */
h1 {
    font-size:4rem; font-weight:900;
    letter-spacing:-0.04em;
    background:linear-gradient(90deg, #3498db, #fff, #ba2af3, #3498db);
    width:max-content;
    padding:5px;
    /* 글자 안에서만 Gradient 적용되게 만들기 */
    color:transparent;
    -webkit-background-clip:text;
    /* 애니메이션 준비 */
    background-size:400%; background-position:100% 0;
    transition:background-position 4.3s;
}
h1:hover {background-position: 0 0;}
h2 {
    font-size:4.5rem; font-weight:850;
    letter-spacing:-0.02em;
    background:linear-gradient(120deg, #f7d749,#44f35c,#9c7ea3,#eee);
    width:max-content;
    padding:10px;
    color:transparent;
    -webkit-background-clip:text;
    background-size:450%; background-position:100% 0;
    transition:background-position 4.5s;
}
h2:hover{background-position:0 0;}
/* 이동 애니메이션(가속도 활용) */
.box {
    width:500px; height:500px; border:2px solid #222;
    position: relative;
}
.box p {
    width:100px; height:100px; background:#3498db;
    border-radius:50%;
    position:absolute; left:0; top:0;
    /* transition:left 0.5s, top 0.5s; */
    transition:all 0.5s cubic-bezier(0.2,-0.04, 0.58, 1);
    /*
    가속도 종류와 뜻
    1. ease(기본값) 점점 느리게
    2. linear 일정한 속도
    3. ease-in 천천히 시작해서 점점 빨라짐
    4. ease-out 빠르게 시작해서 점점 느려짐
    5. cubic-bezier(가속도 곡선 0~1값 사이)커스텀 애니메이션 속도
    */
}
.box:hover p {left:80%; top:80%;}