.box {background-color:#fff; padding:50px 0;}
.box #btn1 {
    background-color:#222; color:#fff;
    font-size:2rem; padding:20px 60px; border-radius:8px;
    transform-origin:right center;
    transition:transform 0.5s ease;
}
.box:hover #btn1 {
    /* transform 속성은 상황에 따라 기본값 없이 바로 상태선택자에 입력할 수 있음 */
    transform:scale(0.8) rotate(-360deg);
}
.box a {
    display:block; width:300px; height:300px;
    border-radius:10px; overflow:hidden; position: relative;
}
.box a img {width:100%; transition:transform 0.5s, filter 1.1s;}
.box a:hover img {
    transform:scale(1.04) skewX(-4deg) translateY(20px);
    filter:brightness(1.04) contrast(1.1);
}
.box a h1 {
    background:rgba(255,255,255,0.4); padding:20px;
    position:absolute; right:0; bottom:0; width:100%;
}
/* 내비게이션 만들기(transform 활용) */
nav {width:600px; margin:30px auto 200px; box-shadow:0 5px 3px rgba(0,0,0,0.1);}
nav a {
    /* 공통 */ display:block; line-height:40px; text-align:center;
}
nav .gnb {display:flex;}
nav .gnb >li {flex:1; position: relative;}
nav .gnb >li >a {}
nav .gnb >li > .sub {
    position:absolute; width:100%; left:0; top:100%;
    background-color:rgba(255,255,255,0.7);
    transform:translateY(-30px); /* 초기값(위로 올리기) */
    opacity:0;/* 초기숨기기 */
    height:0; overflow:hidden; /* 대상선택되지 않도록 높이값 숨기기 */
    transition:transform 0.3s, opacity 0.5s;
}
nav .gnb >li:hover .sub {
    transform:translateY(0); opacity:1;
    height:max-content; /* 단순 보이는 요소로 애니메이션적용 대상아님 */
}
nav .gnb >li > .sub li {}
nav .gnb >li > .sub li a {}
nav .gnb2 {display: flex;} 
nav .gnb2 > li {flex:1; position: relative;
    background-color:aqua; color:#fff;
    font-weight:700; letter-spacing:-0.02em;
    font-size:1.46rem; border-radius:5px;
    border:1px solid #222;
} 
nav .gnb2 > li > a {
} 
nav .gnb2 > li > .sub {
    position:absolute; width:100%; right:0; top:100%;
    transform:translateY(-25px);
    opacity:0;
    height:0; overflow:hidden;
    background:rgba(255,255,255,0.7);
    transition:transform 0.5s, opacity 0.5s;
    border-radius:5px;
    font-weight:500; letter-spacing:-0.02em;
    font-size:1.3rem;
} 
nav .gnb2 > li:hover .sub {
    transform:translateY(0); opacity:1;
    height:max-content;
} 
nav .gnb2 > li > .sub li {} 
nav .gnb2 > li > .sub li a {} 
/* 3D 원근감 효과 애니메이션 */
.box2 {
    background-color:#fff; padding:50px;
    perspective:1000px; /* 부모에 3D효과 깊이설정(원근감) */
}
.box2 #btn3 {
    width:300px; height:200px; background:#b1f82d;
    border-radius:10px;
    transform-style:preserve-3d; /*자식요소의 3D효과 유지 */
    transition:transform 0.8s ease;
}
.box2:hover #btn3 {
    /* transform:rotateX(7deg) rotateY(35deg) rotateZ(360deg); */
    transform:rotateY(180deg);
}
.card_container {
    perspective:1000px; /* 3D 효과 깊이 지정(부모) */
}
.card_container .card {
    width:780px; height:500px;
    background-color:#aaa;
    position: relative;
    transform-style:preserve-3d; /*3D 변환 유지(자식) */
    transition:transform 0.5s ease; /* 카드뒤집기의 애니메이션 효과적용 */
}
.card_container:hover .card {transform:rotateY(180deg);} 
.card_container .card > * {
    font-size:2rem; font-weight:800;
    position:absolute; left:0; top:0; width:100%; height:100%;
}
.card_container .card .front {
    background-color:aqua;
}
.card_container .card .back {
    background-color:coral;
    transform:rotateY(180deg);
    backface-visibility:hidden;/* 뒤쪽 요소 숨김처리 */
}
.card_container2 {perspective:1000px;}
.card_container2 .card2 { 
    width:780px; height:500px;
    position: relative;
    transform-style:preserve-3d; /*3D 변환 유지(자식) */
    transition:transform 0.5s ease;
}
.card_container2:hover .card2 {
    transform:rotateY(180deg);
}
.card_container2 .card2 > * {
    position:absolute; left:0; top:0; width:100%; height:100%;
}
.card_container2 .card2 .front {
    background-image:url(../images/card_front.png);
    background-repeat:no-repeat;
}
.card_container2 .card2 .back {
    background-image:url(../images/card_back.png);
    background-repeat:no-repeat;
    transform:rotateY(180deg);
    backface-visibility:hidden;
}
.card_container3 {perspective:1000px;}
.card_container3 .card3 {
    position: relative;
    transform-style:preserve-3d;
    transition:transform 0.5s ease;
}
.card_container3:hover .card3 {
    transform:rotateX(180deg);
}
.card_container3 .card3 > * {
    position:absolute; left:0; top:0; width:100%; height:100%;
}
.card_container3 .card3 .front {}
.card_container3 .card3 .front img {
    width:780px; height:500px;
    transition:transform 0.7s ease;
    transform:rotateX(180deg);
}
.card_container3 .card3 .back {
    backface-visibility:hidden;
}
.card_container3 .card3 .back img{
    width:780px; height:500px;
    transition:transform 0.7s ease;
    transform:rotateX(180deg);
}