#login_wrap {
    width:743px; margin:0 auto; background-color: aqua;
}
#login_wrap #lang_select {float:right;}
#login_wrap #lang_select option {}
#login_wrap h1 {
    clear:both;
    width:135px; height:26px; margin:0 auto;
    background-color: lime;
    background-image: url(../images/m_sp.png);
    background-position:-316px -104px;
    /* 스프라이트이미지 사용 시 의미적으로 작성한 글자를 숨겨야 할 경우, 글자를 가진 태그의 부모 대상에 text-indent 들여쓰기+내어쓰기속성을 사용하여 화면 바깥쪽으로 글자를 내보내 안보이게 설정한다. */
    text-indent:-9999px;
}
#login_wrap h1 a {display:block; height:100%;}
#login_wrap main {
    width:458px; margin:0 auto; background-color: yellow;
}
#login_wrap main form {}
/* 제목 탭 구성 */
#login_wrap main form .title {
    display:flex;
}
#login_wrap main form .title h2 {
    background-color: #f8f9fa;/* 비활성화 제목배경 */
    width:calc(100% / 3); position:relative;
    height:68px; border-bottom:1px solid #cdcdce;
    border-top:1px solid #cdcdce;
    border-right:1px solid #cdcdce;
}
#login_wrap main form .title h2.active {
    border:1px solid #cdcdce; border-radius:10px;
    border-bottom:0; border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    background-color:#fff; /* 활성화 제목배경 */
}
#login_wrap main form .title h2.active::before {
    content:''; display:block;
    width:19px; height:78px;
    background-color: aquamarine;
    background-image:url(../images/m_sp_login.png);
    background-position:-21px -176px;
    position:absolute; left:-2px; top:-1px;
}
#login_wrap main form .title h2.active::after {
    content:''; display:block;
    width:19px; height:78px;
    background-color: aquamarine;
    background-image:url(../images/m_sp_login.png);
    background-position:0 -176px;
    position:absolute; right:-2px; top:-1px;
}
#login_wrap main form .title h2:nth-child(1)::before {display:none;}
#login_wrap main form .title h2:nth-child(3)::after {display:none;}
#login_wrap main form .title h2 a {
    line-height:68px;
    display:block; text-align:center;
}
/* 제목 탭 구성-QR코드 */
#login_wrap main form .title h2 a em {}
#login_wrap main form .title h2 a .message {
    background-color:#fff;
    border:1px solid #09aa5c;
    border-radius:25px; padding:1px 10px;
    position:absolute; top:-13px; right:-30px;
    text-wrap:nowrap;
}
#login_wrap main form .title h2 a .message strong {
    font-size:0.63rem; color:#09aa5c;
}
#login_wrap main form .title h2 a .message .close {
    font-size:0.63rem; color:#09aa5c;
}
#login_wrap main form .login_container {}
#login_wrap main form .login_container .login_box {
    /*공통내용탭*/
    padding:25px 30px;
    background-color:#fff;
    border:1px solid #cdcdce; border-top:0;
}
/* 내용1. ID로그인 */ 
#login_wrap main form .login_container .id_login {}
#login_wrap main form .login_container .id_login ul {}
#login_wrap main form .login_container .id_login ul li {
    border:1px solid #cdcdce; 
    padding:15px 20px 15px 35px;
    border-radius:10px; position: relative;
}
#login_wrap main form .login_container .id_login ul li::before {
    background-image:url(../images/m_sp_login.png);
    position:absolute; left:10.5px; bottom:17px;
    content:''; display:block;
    width:19px; height:20px;
}
#login_wrap main form .login_container .id_login ul li:nth-child(1)::before {
    background-position:-119px -256px; 
}
#login_wrap main form .login_container .id_login ul li:nth-child(2)::before {
    background-image:url(../images/m_sp_login.png);
    background-position:-163px -256px;
    width:20px; height:20px;
}
#login_wrap main form .login_container .id_login ul li:nth-child(1) {}
#login_wrap main form .login_container .id_login ul li input {
    background-color:lightgray; 
    width:100%;
}
#login_wrap main form .login_container .id_login ul li #user_id {}
#login_wrap main form .login_container .id_login ul li #user_pw {}
#login_wrap main form .login_container .id_login .state_group {}
#login_wrap main form .login_container .id_login .state_group .login_state {}
#login_wrap main form .login_container .id_login .state_group .login_state #login_state_y {}
#login_wrap main form .login_container .id_login .state_group .login_state #login_state_y:checked+label {}
#login_wrap main form .login_container .id_login .state_group .login_state label {}
#login_wrap main form .login_container .id_login .state_group .ip_state {}
#login_wrap main form .login_container .id_login .state_group .ip_state a {}
#login_wrap main form .login_container .id_login .state_group .ip_state #ip_on {}
#login_wrap main form .login_container .id_login .state_group .ip_state #ip_on:checked+label {}
#login_wrap main form .login_container .id_login .state_group .ip_state label {}
#login_wrap main form .login_container .id_login .state_group .ip_state label .switch {}
#login_wrap main form .login_container .id_login .state_group .ip_state label .switch_state {}
#login_wrap main form .login_container .id_login .login_btn {}
#login_wrap main form .login_container .id_login .login_btn #login {}
/* 내용2. 일회용로그인 */
#login_wrap main form .login_container .one_time_login {}
#login_wrap main form .login_container .one_time_login ul {}
#login_wrap main form .login_container .one_time_login ul li {}
/* 내용3. QR로그인 */
#login_wrap main form .login_container .qr_login {}
/* 찾기, 가입, 광고 */
#login_wrap main .search_join {}
#login_wrap main .search_join a {}
#login_wrap main .adver {}
#login_wrap main .adver a {}
#login_wrap main .adver a img {width:100%;}
#login_wrap footer {
    width:458px; margin:0 auto; background-color: pink;
}
#login_wrap footer .menu {}
#login_wrap footer .menu a {}
#login_wrap footer .copyright {}
#login_wrap footer .copyright .logo {}
#login_wrap footer .copyright span {}