body {background-color:#222;}
main {
    margin:97px auto 0; width:500px;
    /*부모의 너비값 고정이 되었을 경우 그 자식,자손 중 블록에 해당하는 모든요소는 부모의 너비만큼(w:100%)자동으로 크기를 인식하기 때문에 꼭 필요한 경우가 아니라면 너비를 입력하지 않아도 된다.*/
}
main h1 {text-align:center; margin:0 0 87px;}
main h1 a {}
main h1 a img {}
main .tab_menu{
    text-align:center;
    margin:0 0 52px;
}
main .tab_menu a {
    display:inline-block;
    color:#fff; 
    padding:5px 10px;
    letter-spacing:-0.02rem;
    font-size:1.25rem;
}
main .tab_menu a:first-child {margin-right:136px;}
/*first-child, last-child*/
main .tab_menu .active {border-bottom:3px solid #1ed760;}
main .tab_wrap {}
main .tab_wrap #inFrm {display:none;}
main .tab_wrap #inFrm ul {
    margin:0 0 31px;
}
main .tab_wrap #inFrm ul li {
    background-color:#fff;
    border-radius:36.5px;
    padding:25px 40px;
}
main .tab_wrap #inFrm ul li:first-child {margin:0 0 25px;}
main .tab_wrap #inFrm ul li input {
    width:100%;letter-spacing:-0.02rem;
}
main .tab_wrap #inFrm ul li input::placeholder{
    color:#aaa;
}
/*로그인창 입력전에 뜨는 색상과 입력시 나타나는 색상을 다르게 하려면 한 개 더 복사해서 ::쓴 뒤 해당속성을 적는다.*/
main .tab_wrap #inFrm ul li input[name$=name] {}
main .tab_wrap #inFrm ul li input[name$=pw] {}
main .tab_wrap #inFrm .stay_in {
    margin:0 0 33px;
}
main .tab_wrap #inFrm .stay_in #stay_on {}
/*HTML checkbox, radio는 CSS에서 세부디자인이 불가능하기 때문에 reset에서 apearance:none으로 숨겨놓고 포토샵, 피그마 등을 이용한 별도 아이콘 디자인을 준비한 후 bacground-image로 연결해야 한다. 숨겨놓은 checkbox, radio는 그 대상과 연결한 label을 통해 선택이 가능하게 하고 배경이미지 또한 label에 대부분 선언해준다.*/
/*상태선택자(a, form에서 주로 사용)*/
main .tab_wrap #inFrm .stay_in #stay_on:checked+label {
    background-image:url(../images/check_y.png);
    background-repeat:no-repeat;
    padding-left:34px;
    background-position:0 2px;
}
main .tab_wrap #inFrm .stay_in label {
    color:#fff;
    background-image:url(../images/check_n.png);
    background-repeat:no-repeat;
    padding-left:34px;
    background-position:0 2px;
}
main .tab_wrap #inFrm .btn {}
main .tab_wrap #inFrm .sign_in_btn{
    background-color:#1ED760; color:#fff;
    border-radius:36.5px;
    padding:15px 0; width:100%;
}
main .tab_wrap #inFrm .forgot_pw {
    color:#fff;
    text-align:center;
    display:block; margin:14px 0 0;
}
/*sign up클릭 시 나오는 내용 스타일*/
main .tab_wrap #upFrm {
    background-color:aqua;
}
main .tab_wrap #upFrm h1 {
    text-align:left; padding:29px 0;
    font-size:1.25rem; letter-spacing:-0.02rem;
    color:#fff; font-weight:500;
    margin-bottom:14px;
}
main .tab_wrap #upFrm .id_container {
    background-color:yellow;
}
main .tab_wrap #upFrm .id_container ul {}
main .tab_wrap #upFrm .id_container ul li {}
main .tab_wrap #upFrm .id_container ul li input[name=user_id_creat]{
    background-color:#fff;
    width:325px; padding:10px 0;
    border-radius:15.2px;
    float:left;
}
main .tab_wrap #upFrm .id_container ul li .duplicate_check_btn {
    background-color:#1ED760;
    width:161px;
    padding:9px 17px 9px 17px;
    border-radius:15.2px; 
    float:right;
    color:#fff; font-size:1.13rem; letter-spacing:-0.02rem;
}
main .tab_wrap #upFrm .id_container .notice1 {
    color:#fff; font-size:0.75rem; letter-spacing:-0.02rem;
    margin-top:10px;
}
main .tab_wrap #upFrm .pw_container {
    background-color:lightgray;
}
main .tab_wrap #upFrm .pw_container ul {}
main .tab_wrap #upFrm .pw_container ul li {}
main .tab_wrap #upFrm .pw_container ul li input[name=user_pw_creat]{
    background-color:beige;
}
main .tab_wrap #upFrm .pw_container ul li input[name=pw_creat] {}
main .tab_wrap #upFrm .pw_container .notice2 {}
main .tab_wrap #upFrm .email_container {
    background-color:purple;
}
main .tab_wrap #upFrm .email_container ul {}
main .tab_wrap #upFrm .email_container ul li {}
main .tab_wrap #upFrm .email_container ul li input[name=user_mail] {}
main .tab_wrap #upFrm .email_container ul li .select[name=choice] {}
main .tab_wrap #upFrm .email_container ul li .select[name=choice] option {}
main .tab_wrap #upFrm .email_container .notice3 {}
main .tab_wrap #upFrm .phone_container {
    background-color:yellow;
}
main .tab_wrap #upFrm .phone_container ul {}
main .tab_wrap #upFrm .phone_container ul li {}
main .tab_wrap #upFrm .phone_container ul li input[name=user_phone]{}
main .tab_wrap #upFrm .phone_container ul li .button {}
main .tab_wrap #upFrm .phone_container ul li .certification_btn {}
main .tab_wrap #upFrm .btn {
    background-color:green;
}
main .tab_wrap #upFrm .btn .join_btn{}